@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Página Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary">Exclusão de usuário </i></h1>
        <hr>
        <p>Realmente deseja excluir o usuário @Model.Nome ?</p>
        <a asp-action="Usuarios" class="btn btn-secondary">Cancelar</a>
        <a asp-action="ExcluirConfirmado" asp-route-itemid="@Model.Id" class="btn btn-danger">Excluir</a>
    </div>
</body>
</html>