<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Página Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary">CRUD com ASP.NET Core</h1>
        <hr>
        <a href="/Home/Usuarios" class="btn btn-primary">Usuários</a>
    </div>
</body>
</html>