@model IQueryable<Aula_4.Models.Usuario>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Usuários</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary">Usuários</h1>
        <hr>
        <a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuário</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.Nome</td>
                        <td>@u.Email</td>
                        <td>
                            <a asp-action="Cadastrar" asp-route-itemid="@u.Id" class="btn btn-sm btn-secondary">Alterar</a>
                            <a asp-action="Excluir" asp-route-itemid="@u.Id" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>