<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Viagem espacial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Viagem espacial</h1>
        <p>Você viajaria para marte sem volta?</p>
        <a href="/Home/Responder" class="btn btn-primary">Responder enquete</a>
    </div>
</body>
</html>