@model int?

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>página Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h1>Bem-vindo ao ASP.NET Core Razor!</h1>
    <p>página Index</p>
    @if (Model.HasValue)
    {
        <p>O valor do modelo é: @Model.Value</p>
    }
    else
    {
        <p>O modelo não possui valor.</p>
    }
</body>
</html>