@if(TempData.ContainsKey("Mensagem"))
{
    var mensagem =  MensagemViewModel.Deserializar(TempData["Mensagem"].ToString());
    @if (mensagem.Tipo == TipoMensagem.Informacao)
    {
        <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            @Html.Raw(mensagem.Texto)
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
            @Html.Raw(mensagem.Texto)
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}