@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem-vindo ao <b>EstoqueWeb</b></h1>
<hr>
<p >Essa aplicação permite gerenciar seu estoque de produtos. Use o menu para navegar. </p>